body{
    font-family: 'Quicksand', sans-serif;
}

.fonte-titulo{
    font-size: 30px!important;
}

.fonte-link{
    font-size: 18px;
}

.color-nav-letra{
    color: black;
}
.color-nav-letra:visited{
    color: black;
}