body{
    font-family: 'Quicksand', sans-serif;
}

/* estilo navBar */
.fonte-titulo-nav{
    font-family: 'Fredoka One', cursive;
}

.bg-header{
    background-color: #0d0d0d;
}

.cor-especial{
  color: #FF7200 !important
}

.cor-btn-especial{
    background-color: #FF7200!important;
    border-color: #FF7200!important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }

.link-clique-aqui{
    text-decoration: none;
}
#email-Invalido{
    color: red;
}
.emailCerto{
    color: red;
}

/* estilo Cadastre-se aqui! */
.fonte-cadastrar{
    font-size: 40px;
}

.font-link{
    font-size: 12px;
}

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: 457px;
    height: 440px;
}

/* estilo footer */
#footer{
    height: 70px;
}

#img-rodape{
    object-fit: cover;
    height: 60px;
    width: 60px;
    transition: all 3s;
}

#img-rodape:hover{
    transform: rotate(360deg);
}
